<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/bookreading.css')}}"type="text/css">
	</head>
	<body>
		<div class="wel">
			<ul>
				<li class='one' ><a href="/user/indexsucess" >rt-books</a></li>
				<li class='one'><a herf="#">玄幻</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>			
				<li class='one'><a herf="#">都市</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one' ><a href="#">仙侠</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one' ><a href="#">历史</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one' ><a herf="#">更多</a></li>
				<li class='one'>
				<input type="search" name="" id="" value="查询书籍" style="width: 250px ; height: 30px;" />
				<button type="button">搜索 </button></li>
				<li class='one'><a href="#" >登录</a></li>
				<li class='one' ><a href="#" >注册</a></li>
				<li class='one'><a href="#" >我的书架</a></li>
			
			</ul>
		</div>
			<!-- 第二部分 -->
<div id="c">
<div id="c1">
<ul>
	<li>小说名:<span>夜的命名术</span></li>
	<li>作者:<span>会说话的肘子</span></li>
	<li><span>类型</span><span>时间</span><span>字数</span></li>
	<li><span>科幻</span><span>2022.03.11</span><span>11.7万</span></li>
	<li></li>
</ul>	
</div>
<div id="c2">
<!--	燕子去了，有再来的时候；杨柳枯了，有再青的时候；<br/>-->
<!--	桃花谢了，有再开的时候。但是，聪明的，你告诉我，我们的日子为什么一去不复返呢？<br/>-->
<!--	——是有人偷了他们罢：那是谁？又藏在何处呢？是他们自己逃走了罢：如今（现在 [2]  ）又到了哪里呢？ [3] <br/>-->
<!--	我不知道他们给了我多少日子，但我的手确乎（1）是渐渐空虚（2）了。在默默里算着，八千多日子已经从我手中溜去，像针尖上一滴水滴在大海里<br/>，我的日子滴在时间的流里，没有声音，也没有影子。我不禁头涔涔（3）而泪潸潸（4）了。-->
<!--	去的尽管去了，来的尽管来着；去来的中间，又怎样地匆匆呢？<br/>早上我起来的时候，小屋里射进两三方斜斜的太阳。太阳他有脚啊，轻轻悄悄地挪移了；我也茫茫然跟着旋转。于是——洗手的时候，日子从水盆里过去；吃饭的时候，日子从饭碗里过去；默默时，便从凝然的双眼前过去。我觉察他去的匆匆了，伸出手遮挽时，他又从遮挽着的手边过去，天黑时，我躺在床上，他便伶伶俐俐（5）地从我身上跨过，从我脚边飞去了。等我睁开眼和太阳再见，这算又溜走了一日。我掩着面叹息。但是新来的日子的影儿又开始在叹息里闪过了。-->
<!--	在逃去如飞的日子里，在千门万户的世界里的我能做些什么呢？<br/>只有徘徊（6）罢了（7），只有匆匆罢了；在八千多日的匆匆里，除徘徊外，又剩些什么呢？<br/>过去的日子如轻烟，被微风吹散了，如薄雾，被初阳蒸融了；我留着些什么痕迹呢？我何曾留着像游丝（8）样的痕迹呢？我赤裸裸来到这世界，转眼间也将赤裸裸的回去罢？但不能平的，为什么偏要白白走这一遭啊？-->
<!--	你聪明的，告诉我，我们的日子为什么一去不复返呢？-->
	迟尧的意识回拢时，他正躺在床上。

    眼前模糊一片，头胀痛无比。

    他揉着额角，过了片刻视线才逐渐清晰。

    房间四壁都是金属，应该还在飞船上。

    迟尧坐起身，想出去看看情况。

    可刚掀开被子，他整个人僵住。

    不对劲。

    “哪来的长发？”

    刚开口，迟尧一怔。

    这声音很熟悉，却不是他的。

    他几步跑进浴室。

    看到镜子中的自己，脑子顿顿的，耳边嗡嗡直响。

    怎么回事，他在做梦？

    镜子中的人五官冷峻，漂亮的瑞凤眼没表情时显得有些凌厉，一头长发凌乱地披散下来，却丝毫不减alpha的气场。

    美是美，可这是死对头的脸。

    迟尧凑近镜子仔细看看，在脸上掐了几下，触感细腻温润。

    撩起衣摆，人鱼线和腹肌线条漂亮，手感很棒。

    不是做梦。

    “操。”

    迟尧低骂了一声，一时间不知道应该恐慌还是惊讶。

    他为什么会穿到死对头的身体里。

    那景晞去哪了？

    刚睡醒的脑子反应有些跟不上，好半天才回想起昨天发生的事。

    昨天他只是普普通通的抢了矿，普普通通的和死对头打了一架。

    难道跟当时的地磁暴有关？

    叩叩叩。

    外面突然传来敲门声，有人走了进来。

    “长官，您醒了吗？”

    迟尧仔细辨认，确认这是景晞身边的副官，飞龙军团的副指挥官江枫。

    “醒了，有事？”迟尧模仿景晞的冷淡腔说道。

    江枫站在外间等候，恭敬道：“您醒了就好，需要帮您叫军医过来吗？”

    迟尧本想说不用，可话到嘴边又改变了主意。

    “让他二十分钟后过来。”

    江枫：“是。”

    等听到关门声，迟尧看着镜子里的这张脸，解开衬衫扣子，笑得不怀好意。

    耳边好像又听到了冷冰冰的少将大人骂他“浪荡”。

    可身上都是汗，总不能不洗澡吧？

    哗啦啦的水声响了很久才停下，迟尧随手扯了条浴巾围在腰上走出浴室。

    景晞身高和他差不多，又同为alpha，减轻了很多不适，而且身体爆发力很强，这点让迟尧很满意。

    就是头发太长，洗起来比洗狗毛还费劲。

    迟尧心情不错，擦着头发从储藏柜里找出水，一口喝了半瓶。

    光面金属映出左肩和腹部右侧的疤痕。

    左肩这道只有三四公分长，右侧腰部这道更长一些。

    迟尧眼前画面一闪，立刻回想起来。

    这些都是他们以前打架时，他弄出来的。

    不过疤痕为什么要留着？

    迟尧摸摸腰侧微微凸起的疤。

    太难看了，不符合他的美学。

    二十分钟后，江枫带着军医过来，抬头一看，人傻了。

    景晞坐在窗前的沙发上，衬衫最上方的两颗纽扣敞开着，右侧的锁骨若隐若现，额前的湿发被捋到后面，长发略显凌乱地搭在肩头。

    随性慵懒，气势却分毫不减。

    今天长官给人的感觉和平时不太一样。

    这要是被军部那群oga看到，不得疯啊。

    “干什么呢，快点。”迟尧修长的手指在扶手上轻叩了两下，不耐烦地催促。

    “是！”江枫一秒回神，带着军医疾步过去。

    迟尧托着下巴，看着军医拿着各种仪器在他身上倒腾，心里估算着当前的形势。

    既然江枫也在，那表示这里大概率就是飞龙军团主舰。

    一觉睡醒到了敌方大本营，还夺了敌方boss的身体。

    说出去都像在开玩笑。

    “极影那帮人呢？”迟尧装做不经意地问。

    说起那帮星盗，江枫气得咬牙切齿。

    “跑了！要不是磁暴导致军舰很多功能无法正常使用，这次能把他们轰得渣都不剩！”

    迟尧：“有没有人员伤亡？”

    江枫摇头：“没有，全部安全归队了。”

    迟尧：“我说的是极影。”

    江枫愣了一下：“应该——没有吧？他们跑得比兔子还快，要是有伤亡的话，那姓迟的星盗痞子早就找上门了。”

    星盗痞子？

    迟尧笑了一声，一本正经道：“迟尧这么可爱，怎么可以打他？”

    长官竟然笑了？！

    江枫被他的笑晃花了眼，等回过神才发现有哪里不对。

    要说帝国谁最讨厌星盗，景晞排第二的话，没人敢排第一。

    但他说星盗头子可爱？

    江枫：“？”

    这句话是不是有什么内在含义？

    军医一套检查下来，恭敬道：“您身体底子好，现在已经没大碍了。”

    迟尧：“没大碍？”

    芯子换了检查不出来？

    军医以为他问的是突然昏迷的事，解释道：“可能受到地磁波动影响，加上您最近太过劳累导致，我给您开一些凝神静气的药，您按时服用就可以了。”

    迟尧回想失去意识前，他明显感觉到心脏共振，难道真的是受磁暴影响？

    可磁暴会让人灵魂穿越？

    江枫低声问：“要追击极影吗？现在追过去应该还来得及。”

    和极影打到一半，指挥官出了状况，他们只能先撤退。

    迟尧张口就来：“不用，星盗也是帝国子民，我们作为军方，要用包容的心态去接纳他们，而不是赶尽杀绝。”

    江枫：“？是。”

    临走前，迟尧叫住军医。
</div>
<div id="c3">
	<ul>
		<li>目录</li>
		<li>收藏</li>
		<li>点赞</li>
		<li>分享</li>
	</ul>
</div>
<div id="c4">
	<ul>
		<li>上一章</li>
		<li>下一章</li>
	</ul>
</div>		
</div>
			<div id="footer">
				<ul>
				<li><a href="#">重庆理工大学计算机科学与工程学院</a></li>
				<li><a href="#">本站所收录的作品、社区话题、用户评论、用户上传内容或图片等均属用户个人行为。如前述内容侵害您的权益，欢迎举报投诉，一经核实，立即删除，本站不承担任何责任</a></li>
			</ul>
			</div>
		
	</body>