<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
			<link rel="stylesheet" href="{{ url_for('static' ,filename='css/bookintroduce.css')}}" type="text/css">
	</head>
	<body>
		<!-- 第一部分 -->
		<div class="wel">
			<ul>
				<li class='one'><a herf="#">语钟切换</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one'><a href="/user/index">rt-books</a></li>
				<li class='one'><a herf="#">玄幻</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>			
				<li class='one'><a herf="#">都市</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one' ><a href="#">仙侠</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one' ><a href="#">历史</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one' ><a herf="#">更多</a></li>
				<li class='one'>
				<input type="search" name="" id="" value="查询书籍" style="width: 250px ; height: 30px;" />
				<button type="button">搜索 </button></li>
				<li class='one'><a href="/user/readerinformation">我的信息</a></li>
				<li class='one'><a href="/user/index">退出登录</a></li>
			
			</ul>
		</div>
		<!-- 第二部分 -->
		<!-- <div id="img">
			<img src="" />
		</div> -->
		<!-- 第三部分 -->
		<div id="all">
		<div id="head">
		<div id="headl"><img src="{{ url_for('static' ,filename='img/b.jpg')}}" ></div>
			<div id="headr">
				<ul>
					<li><h3>拉克丝的魔法棒</h3></li>
					<li><h3>作者</h3></li>
					<li><h3>简介</h3></li>
					<li><button><a href="/user/read_book/start_read">免费试读</a></button>
					<button>加入书架</button>
					<button>投票互动</button>
					</li>
				</ul>
			</div>
		</div>
		<div id="back">
			<span id="l">
			<h4><a href="#">作品信息</a>
			<a href="#">目录（115章）</a>
			</h4>
	
			<h4 style="font-family: kai;">虚空之杖，又名法穿棒，属性是暗裔，扭曲血肉材质，虚空之力杖芯，是符文之地居家旅行必备良品。
　　穿越者未必要有系统——因为穿越者也可以成为别人的系统。
　　【奖励任务：小黄毛必须死】：“看见那个叫伊泽瑞尔的小黄毛了吗？上吧，拉克丝，痛扁这个小偷一顿，我教你转职大元素使！”
　　“就你叫伊泽瑞尔啊？拉克丝一键超神符文已装备！”
　　关键词：英雄联盟，拉克丝，双城之战，符文之地，恕瑞玛，德玛西亚 </h4>

<div id="newcontent">
	<div style="font-size: larger;">最新章节</div>
	<span id="newl">
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>12小时前</h5></li>
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>2022-03-6</h5> </li>
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>2022-03-6</h5></li>
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>2021-03-6</h5> </li>
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>2021-03-6</h5> </li>
	
	</span>
	<span id="newr">
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>12小时前</h5></li>
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>2022-03-6</h5> </li>
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>2022-03-6</h5></li>
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>2021-03-6</h5> </li>
		<li><a href="#">第九十章：受伤的麻雀与乌鸦与狗</a> <h5>2021-03-6</h5> </li>
	
	</span>
</div>
<div id="fan">
	<div>粉丝互动</div>
	<table border="1" cellspacing="0" cellpadding="0">
		<tr><td>猫咪酱：</td>
		<td>作者写的好好看啊期待下一次更新！！</td>
		</tr>
		<tr><td>猫咪酱：</td>
		<td>作者写的好好看啊期待下一次更新！！</td>
		</tr>
		<tr><td>猫咪酱：</td>
		<td>作者写的好好看啊期待下一次更新！！</td>
		</tr>
	</table>
	<textarea rows="3" cols="50">发表你的看法叭！</textarea>
	<button type="button">点击发送</button>
</div>
</span>
		<span id="r">
		<div id="introduce">
		<img src="" >
		<h4>作者昵称</h4>	
			<div id="tu" >
				<span id="booknum">
					作品
				</span>
				<span id="codenum">
					字数
				</span>
				<span id="daynum">
					天数
				</span>
			</div>
			<div >
				<span id="booknum">
					作品总数
				</span>
				<span id="codenum">
					累计字数
				</span>
				<span id="daynum">
					创作天数
				</span>
			</div>
			<div id="number">
				<span id="booknum">
					 3
				</span>
				<span id="codenum">
					4
				</span>
				<span id="daynum">
					100
				</span>
			</div>
			<div id="masterpiece">
				<h4 style="display: inline;">其他作品</h4>
				<h4 style="display: inline; padding-left: 100px;">更多</h4>
				<img src="{{ url_for('static', filename='img/master.jpg') }}" style="display: block;padding-top: 10px; padding-left: 50px;" >
				<h5>李莫愁想要杀了陆展元，魔童哪吒想要<br>得到百姓认同，葫芦娃想要救出爷爷，<br>绯红女巫想要干掉灭霸，后羿想要射落十</h5>
			<button type="button" style="margin-left: 80px;">加入书架</button>
			</div>
			<div id="weekc">
				<ul>
					<h4>本周强推</h4>
					<li>
						<a href="">[古今传奇]</a>
					</li>
					<li>
						<a href="">[侦探推理]</a>
					</li>
					<li>
						<a href="">[诡秘悬疑]</a>
					</li>
					<li>
						<a href="">[奇妙时刻]</a>
					</li>
		<li>
			<a href="">[古今传奇]</a>
		</li>
		<li>
			<a href="">[侦探推理]</a>
		</li>
		<li>
			<a href="">[诡秘悬疑]</a>
		</li>
		<li>
			<a href="">[奇妙时刻]</a>
		</li>		
				</ul>
			</div>			
		</div>
		</span>
		</div>
	
		<div id="footer">
			<ul>
				 <li><a href="#">重庆理工大学计算机科学与工程学院</a></li>
				<li><a href="#">本站所收录的作品、社区话题、用户评论、用户上传内容或图片等均属用户个人行为。如前述内容侵害您的权益，欢迎举报投诉，一经核实，立即删除，本站不承担任何责任</a></li>
			</ul>
		</div>
			</div>
	</body>