<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
			<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}"type="text/css">
				<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
	</head>
	<body>
<!-- 		第二部分 -->
		<div class="wel">
			<ul id="cen">
				<li id="one" class="lang"><a href="#">语言切换</a>
					<ul class="langguge">
					<li><a href="#">英文</a></li>
					<li><a href="#">俄文</a></li>
					<li><a href="#">韩文</a></li>
					<li><a href="#">日文</a></li>
					</ul></li> 	
				<li id="one" ><a href="/user/index">rt-books</a></li>
				<li id="one" >欢迎光临</li>
				<li id="one">
				<a href="/user/login">登录</a>
				</li>
				<li id="one"><a href="/user/register">注册</a></li>
			</ul>
		</div>
	<!-- 	第三部分 -->
		<div class="nav">
	<input type="text" class="mui-input-clear" placeholder="搜索">

		 <button type="button" >查询图书</button>
		</div>
		<!-- 第四部分 -->
		<div class="choose">
			<ul>
				<li><a href="#">作品分类</a></li>
				<li><a href="#">排行</a></li>
					<li><a href="#">完本</a></li>
						<li><a href="#">免费</a></li>
							<li><a href="#">作家专区</a></li>
								<li><a href="#">推荐专区</a></li>
			</ul>
			</div>
			<!-- 第五部分 -->
			<div class="center">
			<span class="masterpiece">
						<ul>
							<li ><a href="#">玄幻</a>
							</li>
							<li ><a href="#">奇幻</a>
							</li>
						</ul>
						<ul>
							<li ><a href="#">武侠</a>
						
							</li>
							<li ><a href="#">仙侠</a>	
							</li>
						</ul>
						<ul>
							<li><a href="#">都市</a></li>
							<li><a href="#">现实</a></li>
						</ul>
						<ul>
							<li><a href="#">军事</a></li>
							<li><a href="#">历史</a></li>
						</ul>
						<ul>
							<li><a href="#">游戏</a></li>
							<li><a href="#">体育</a></li>
						</ul>
						<ul>
							<li><a href="#">科幻</a></li>
							<li><a href="#">悬疑</a></li>
						</ul>
					</span>
					
			<span id=banner>
			  <ul class="imgList">
			    <li style="z-index: 1;"><a href="#"><img src="{{ url_for('static',filename='img/3.jpg')}}" width="800px"height="300px"></a></li>
			    <li><a href="#"><img src="{{ url_for('static',filename='img/1.jpg')}}" width="800px"height="300px"></a></li>
			    <li><a href="#"><img src="{{ url_for('static',filename='img/2.jpg')}}"width="800px" height="300px"alt=""></a></li>
			    <li><a href="#"><img src="{{ url_for('static',filename='img/3.jpg')}}" width="800px"height="300px" alt=""></a></li>
			    <li><a href="#"><img src="{{ url_for('static',filename='img/4.jpg')}}" width="800px"height="300px"alt=""></a></li>
			  </ul> 
			<a class="leftBtn" href="javascript:void(0)">&lt;</a>
				<a class="rightBtn" href="javascript:void(0)">&gt;</a>
			  <span class="focusList">
			    <a href="javascript:void(0)" class="cur"></a>
			    <a href="javascript:void(0)"></a>
			    <a href="javascript:void(0)"></a>
			    <a href="javascript:void(0)"></a>
			    <a href="javascript:void(0)"></a>
			  </span>
			</span> 
			
<!--					<span class="hot">-->
<!--						-->
<!--						<ul>-->
<!--							<li>热门资讯</li>-->
<!--							<a href="#"><li>真不错</li></a>-->
<!--						<a href="#"><li>aaa##</li></a>-->
<!--						<a href="#"><li>aaa##</li></a>-->
<!--						<a href="#"><li>aaa##</li></a>-->
<!--						<a href="#"><li>aaa##</li></a>-->
<!--						<a href="#"><li>aaa##</li></a>-->
<!--						<a href="#"><li>aaa##</li></a>-->
<!--						</ul>-->
<!--					</span>	-->
			</div>	
	<!-- 	第五部分 -->
		<div class="reconmend">
			<div id="reconmendlist">
				<h2>图书推荐榜</h2>
			</div>
<span class="week">
	<ul><!-- 每一个li放两个span分别是图片和介绍 -->
		<li>每周推荐</li>
		<li>
		<span class="weekl">
		<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_11.jpg')}}" width="150px"height="240px"alt=""></a>
		</span>
		<span class="weekr">
				<a href="/user/read_book/introduce"><h5>1、小说名字:</h5></a>
					<a href="/user/read_book/introduce"><h5>作者:</h5></a>
		</span>
		</li>
		<li>
		<span class="weekl">
		<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_8.jpg')}}" width="150px"height="240px"alt=""></a>
		</span>
		<span class="weekr">
	<a href="/user/read_book/introduce"><h5>1、小说名字：哈哈</h5></a>
		<a href="/user/read_book/introduce"><h5>作者:</h5></a>

		</span>
		</li>
		<li>
		<span class="weekl">
	<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_6.jpg')}}" width="150px"height="240px"alt=""></a>
		</span>
		<span class="weekr">
	<a href="/user/read_book/introduce"><h5>1、小说名字</h5></a>
		<a href="/user/read_book/introduce"><h5>作者:神秘复苏</h5></a>
		</span>
		</li>
	</ul>
</span>
		<span class="editor">
			<ul>
			<li>编辑推荐</li>
	<li>
	<span class="editorl">
	<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_5.jpg')}}" width="150px"height="240px"alt=""></a>
	</span>
	<span class="editorr">
	<a href="/user/read_book/introduce"><h5>1、小说名字####</h5></a>
		<a href="/user/read_book/introduce"><h5>作者:贼人休走</h5></a>

	</span>
	</li>
	<li>
	<span class="editorl">
	<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_4.jpg')}}" width="150px"height="240px"alt=""></a>
	</span>
	<span class="editorr">
	<a href="/user/read_book/introduce"><h5>1、小说名字####</h5></a>
		<a href="/user/read_book/introduce"><h5>作者:</h5></a>

	</span>
	</li>
	<li>
	<span class="editorl">
	<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_3.jpg')}}" width="150px"height="240px"alt=""></a>
	</span>
	<span class="editorr">
	<a href="/user/read_book/introduce"><h5>1、小说名字####</h5></a>
		<a href="/user/read_book/introduce"><h5>作者:</h5></a>

	</span>
	</li>
		</ul>
		</span>	
		<span class="new">
			<ul>
		<li>最新推荐</li>
	<span class="editorl">
	<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_2.jpg')}}" width="150px"height="240px"alt=""></a>
	</span>
	<span class="editorr">
	<a href="/user/read_book/introduce"><h5>1、小说名字11</h5></a>
		<a href="/user/read_book/introduce"><h5>作者:明天</h5></a>

	</span>
	</li>
	<li>
	<span class="editorl">
<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_11.jpg')}}" width="150px"height="240px"alt=""></a>
	</span>
	<span class="editorr">
	<a href="/user/read_book/introduce"><h5>1、小说名字：悲伤</h5></a>
		<a href="/user/read_book/introduce"><h5>作者:后台</h5></a>

	</span>
	</li>
	<li>
	<span class="newl">
<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_1.jpg')}}" width="150px"height="240px"alt=""></a>
	</span>
	<span class="newr">
	<a href="/user/read_book/introduce"><h5>1、小说名字：今天</h5></a>
		<a href="/user/read_book/introduce"><h5>作者:心动太多</h5></a>

	</span>
	</li>
			</ul>
		</span>
		</div>
	<!-- 第六部分 -->
	<div id="share">
<h1> 美句欣赏</h1>
	<img src="{{ url_for('static',filename='img/f.png')}}">
		<span><h3 >"知识有两种：我们自己知道一个问题的答案，<br>或我们知道在哪儿我们可以找到这个问题的答案"。 <br>
		– 塞缪尔·约翰逊</h3></span>
	</div>
	<div id="hotbook">
		<h1>热门图书</h1>
		<div id="book">
		<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_1.jpg')}}" width="150px"height="240px"alt=""></a>
				<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_1.jpg')}}" width="150px"height="240px"alt=""></a>
				<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_2.jpg')}}" width="150px"height="240px"alt=""></a>
				<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_3.jpg')}}" width="150px"height="240px"alt=""></a>
				<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_4.jpg')}}" width="150px"height="240px"alt=""></a>
				<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_5.jpg')}}" width="150px"height="240px"alt=""></a>
				<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_6.jpg')}}" width="150px"height="240px"alt=""></a>
				<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_7.jpg')}}" width="150px"height="240px"alt=""></a>
				<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_8.jpg')}}" width="150px"height="240px"alt=""></a>
				<a href="/user/read_book/introduce"><img src="{{ url_for('static',filename='img/book_9.jpg')}}" width="150px"height="240px"alt=""></a>
		</div>
	</div>
	<div id="readingfeel">
		<h1>读者心得</h1>
		<span><h3 >"读书心得读书是我们生活中必不可少的程序，书的世界是丰富多彩的，什么都有。读书让我们领悟了人世间的思想与认识：<br/>思想：在读书中，我们读的认真，就会感到自己仿佛身临其境，感觉自己就是书本里的人物，有自己的思想。<br/>认识：读书，可以让我们去看世界，了解国内外的时，认识许多有名的人物"。 <br>
		</h3></span>
	</div>

	<!-- 	第六部分 -->
	<div id="footer">
		<ul>
	<li><a href="#">重庆理工大学计算机科学与工程学院 </a></li>
			<li><a href="#">本站所收录的作品、社区话题、用户评论、用户上传内容或图片等均属用户个人行为。如前述内容侵害您的权益，欢迎举报投诉，一经核实，立即删除，本站不承担任何责任</a></li>
		</ul>
	</div>
		
	</body>
	<script>
function changeImg(a){//实参代表图片索引的一个数字
      $('.imgList li').eq(a).fadeIn().siblings().fadeOut();//淡入显示，其它隐藏
      $('.focusList a').eq(a).addClass('cur').siblings().removeClass('cur');//添加class，其它删除
    }
    //自动播放按顺序执行
    var step=0;//用全局变量做一个声明 每隔2s做一个调用
    changeImg(step);//页面刚进入默认第一张显示
    var timer=null;//定义为全局定时器，其它的方法就可以访问到这个定时器
    function autoPlay(){
      //定义一个变量接收定时器
      timer= setInterval(function(){
      step++;
       if(step===5){
         step =0;//从第一张开始轮播
       }
       changeImg(step);
     },2000);
    }
    autoPlay();
    //点击左按钮切换
    $('.leftBtn').click(function(){
      clearInterval(timer);//清除定时器
      step--;//每点击一下就减减
      if(step===-1){
        step=4;//当减到最后一张时，让图片从最后一张开始
      }
      changeImg(step);//图片跟着变化
      autoPlay();//当不点击按钮的时候，在继续执行定时器
    })
    //点击右按钮切换
    $('.rightBtn').click(function(){
      clearInterval(timer);//清除定时器
      step++;//每点击一下就减减
      if(step===5){
        step=0;//当加到最后一张时，让图片从第一张开始
      }
      changeImg(step);//图片跟着变化
      autoPlay();//当不点击按钮的时候，在继续执行定时器
    })
    //点击焦点切换
    $('.focusList a').click(function(){
      clearInterval(timer);//先清除定时器
      step=$(this).index();//赋值给当前索引
      changeImg(step);//执行step图片
      autoPlay();//不点击的时候在执行定时器
    })
    //鼠标移入图片区域暂停自动播放，鼠标移出继续播放
    $('.imgList').mouseover(function(){//mouseiver鼠标移入
      console.log($('.imgList'));
      clearInterval(timer);//先清除定时器
    }).mouseout(function(){//mouseiver鼠标移出
      autoPlay();//继续执行定时器
    })

  </script>
</html>
