<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
			<link rel="stylesheet" href="{{ url_for('static' ,filename='css/readerinformation.css')}}" type="text/css">
	</head>
	<body>
		<div class="wel">
			<ul>
				<li class='one' ><a href="/user/indexsucess">rt-books</a></li>
				<li class='one'><a herf="#">切换语言</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one'><a herf="#">玄幻</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>			
				<li class='one'><a herf="#">都市</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one' ><a href="#">仙侠</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one' ><a href="#">历史</a>
				<ul class='twe animated'>
				<li><a href="#">英文</a></li>
				<li><a href="#">俄文</a></li>
				<li><a href="#">韩文</a></li>
				<li><a href="#">日文</a></li>
				</ul></li>
				<li class='one' ><a herf="#">更多</a></li>
				<li class='one'>
				<input type="search" name="" id="" value="查询书籍" style="width: 250px ; height: 30px;" />
				<button type="button">搜索 </button></li>
				<li class='one'><a href="/user/index" id="logout">退出登录</a></li>
				<li class='one'><a href="/user/sucesscheckpassword" >修改密码</a></li>
			</ul>
		</div>
		
		<div id="all">	
			<div id="c">
					<img src="{{ url_for('static' ,filename='img/headimg.jpg')}}"height="150px"width="150px" >
					<span class="tro">
					<div>用户名：{{ username }}	</div>
					<div>rt-books账号：{{ user_id }}</div>
		    		<button type="button"><a href="/user/userinformation/modification">修改个人信息</a></button></span>
					<button type="button"><a href="/user/userinformation/modification/update_avatar">修改个人头像</a></button></span>
					<div id="c2">
						<div style="margin-left: 10px;">
						  性别:{{ gender }}
						</div>
						<div style="margin-left: 10px;">
						  地区:{{ area }}
						</div>
							<div style="margin-left: 10px;">
						  个人简介:{{ user_describe }}
						</div>
						<div id="focus">
							<span><a href="#">关注的作者</a></span></span>
							<span><a href="#">收藏的图书</a></span></span>
							<span><a href="">喜欢的图书</a></span></span>
							<span><a href="#">打赏的图书</a></span></span>		
						</div>
						
						<div id="num">
							<span><span>27</span>
								<span><span>27</span>
									<span><span>27</span>
										<span><span>27</span>
						</div>								
					</div>	
				</div>
					


		
	
			
		</div>
		
		<!-- 第三部分-->

		
	</body>
	<script>
	$('#logout').click(function(){
		$.delete('/user/logout',{},function(data){
		alert(data.msg);
		},'json')
		})
	</script>
</html>