<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="{{ url_for('static' ,filename='css/sucesscheckpassword.css')}}" type="text/css">
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
	</head>
	<body>
		<!-- 第一部分 -->
	<div class="wel">
		<ul>
			<li class='one' ><a href="/user/indexsucess" >rt-books</a></li>
			<li class='one'><a herf="#">切换语言</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>	
			<li class='one'><a herf="#">玄幻</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>			
			<li class='one'><a herf="#">都市</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>
			<li class='one' ><a href="#">仙侠</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>
			<li class='one' ><a href="#">历史</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>
			<li class='one' ><a herf="#">更多</a></li>
			<li class='one'>
			<input type="search" name="" id="search" value="查询书籍" style="width: 250px ; height: 30px;" />
			<button type="button">搜索 </button></li>
			<li class='one'><a href="/user/readerinformation" >我的信息</a></li>
			<li class='one'><a href="#" >我的收藏</a></li>
		
		</ul>
	</div>
		<!-- 第二部分 -->
		<div id="box">
			<div id="core3">
				<img src="{{ url_for('static', filename='img/welcom.jpeg') }}"width="300px"height="300px" >
			</div>
		<div id="core4">
			<h1 style="font-family: 'kai';">修改密码</h4>
			<span class="ma"> </span>密码 : &nbsp<input type="password" name="" id="password" value="请输入密码" /><br /><br />
		   <span class="yan"> </span>新密码:&nbsp <input type="text" id="new_password" value="请输入修改后的密码" /><br /><br />
		<button type="button"id="button">确认修改</button><br /><br />
		<div id="register">
			不想修改密码，点击<a href="/user/indexsucess">返回首页</a>
		</div>
		</div>	
		</div>
		<!-- 第三部分-->
		<div id="footer">
			<ul>
				<li><a href="#">重庆理工大学计算机科学与工程学院</a></li>
				<li><a href="#">本站所收录的作品、社区话题、用户评论、用户上传内容或图片等均属用户个人行为。如前述内容侵害您的权益，欢迎举报投诉，一经核实，立即删除，本站不承担任何责任</a></li>
			</ul>
		</div>
		
		<script>
		function checkpasswordreader (){
			window.location.href="/user/indexsucess";
		}
			function checkpasswordauthor (){
			window.location.href="/user/indexsucessauthor";
		}

		$('#button').click(function(){
			var password=$('#password').val();
			var new_password=$('#new_password').val();
			$.post('/user/password',
			{
				password:password,
				new_password:new_password
			},
			function(data){
				alert(data.msg);
			if(code==200){
				checkpasswordreader();
			}
			else if(code==202){
			checkpasswordauthor();
			}
			},'json')//登录用户
			})

		$('#name').click(function(){
			$('#name').val('');
		})
		$('#password').click(function(){
			$('#password').val('');
		})
		$('#search').click(function(){
			$('#search').val('');
		})
		</script>
	</body>
</html>
