<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/translate.css')}}"type="text/css">
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
	</head>
	<body>
		<!-- 第一部分 -->
	<div class="wel">
		<ul>
			<li class='one'><a herf="#">切换语言</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>	
			<li class='one' ><a href="/user/indexsucessauthor" >rt-books</a></li>
			<li class='one'><a herf="#">玄幻</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>			
			<li class='one'><a herf="#">都市</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>
			<li class='one' ><a href="#">仙侠</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>
			<li class='one' ><a href="#">历史</a>
			<ul class='twe animated'>
			<li><a href="#">英文</a></li>
			<li><a href="#">俄文</a></li>
			<li><a href="#">韩文</a></li>
			<li><a href="#">日文</a></li>
			</ul></li>
			<li class='one' ><a herf="#">更多</a></li>
			<li class='one'>
			<input type="search" name="" id="search" value="查询书籍" style="width: 250px ; height: 30px;" />
			<button type="button">搜索 </button></li>
			<li class='one' ><a href="index.html" >退出登录</a></li>
				<li class='one' ><a href="#">我的信息</a>
				<ul class='twe animated'>
				<li><a href="readerinformation.html">用户信息</a></li>
				<li><a href="authorinfo.html">作者信息</a></li>
				</ul></li>
		
		</ul>
	</div>
		<!-- 第二部分 -->
		<span id="all1">
			<ul>
				<li id="name">谁说睡觉不算修行</li>
				<li id="section">
					<select name="" value="">
						<option value="">第一章</option>
								<option value="">第二章</option>
										<option value="">第三章</option>
												<option value="">第四章</option>
					</select>
					<span id="">
					章节名字
					</span>
					<span id="">
						床前的花
					</span>
					</li>
						<li id="content">
							<textarea rows="25" cols="50">疯批不做人星盗首领攻&amp;寡到没朋友清冷少将受

								迟尧和景晞都是公认的顶级alpha，只不过一个风评极好，一个风评极差，还互为宿敌。
								
								迟尧，外界闻风丧胆的星盗团首领，性格乖张，信息素霸道，战斗力成迷。
								
								景晞，年轻少将，战功赫赫，帝国武力值天花板。
								
								一场磁暴，他们被迫频繁互穿。
								
								两人：整不死你算我的。
								
								第一天军部点卯，迟尧就把直属上司揍得爹妈不认。
								
								迟尧：我不习惯别人对我的决定指手画脚。[微笑]
								
								没想到意外得到上将器重，破格提前选为统帅预备役。
								
								上将：你能有这份魄力，我果然没看错人。[欣慰]
								
								迟尧：？？？
								
								少将大人进了险恶的星盗窝，大手一挥，从今天开始军事化管理。
								
								景晞：你们的目标是？
								
								星盗们：努力改造，重新做人！
								
								后来——
								
								星盗：老大，隔壁ABCDEF团的老大带着能源来进贡，哭着跪求并入咱们团。
								
								景晞：？？？
								
								最近，军团和星盗团内的成员们很迷惑，老大总是上星期下达命令，这星期又推翻重来，这自我否定，精分的毛病越来越严重。
								
								有一次，军团和星盗团强势对垒。
								
								穿着少将皮的迟尧：那艘军舰二十亿，不准打！
								
								穿着星盗皮的景晞：那款机甲秋季限定，敢轰一个试试？
								
								两边下属：这也不让，那也不让，那还打什么？你们结婚得了。
								
								**
								
								景晞小时候有个喜欢的小哥哥，对方温柔、爱笑，是这世间一切的美好。
								
								他看看老照片又看看迟尧：把奶团子还给我。
								
								迟尧：……
								
								#你再仔细看看，我还是你的小可爱啊！#
								
								1、前期不停互穿，后期会回到自己的身体，不反攻。
								
								2、1v1，惯例互宠（怼）
								
								3、极端攻控不可。
								
								===第1章 第 1 章===
								
								迟尧的意识回拢时，他正躺在床上。
								
									眼前模糊一片，头胀痛无比。
								
									他揉着额角，过了片刻视线才逐渐清晰。
								
									房间四壁都是金属，应该还在飞船上。
								
									迟尧坐起身，想出去看看情况。
								
									可刚掀开被子，他整个人僵住。
								
									不对劲。
								
									“哪来的长发？”
								
									刚开口，迟尧一怔。
								
									这声音很熟悉，却不是他的。
								
									他几步跑进浴室。
								
									看到镜子中的自己，脑子顿顿的，耳边嗡嗡直响。
								
									怎么回事，他在做梦？
								
									镜子中的人五官冷峻，漂亮的瑞凤眼没表情时显得有些凌厉，一头长发凌乱地披散下来，却丝毫不减alpha的气场。
								
									美是美，可这是死对头的脸。
								
									迟尧凑近镜子仔细看看，在脸上掐了几下，触感细</textarea>
						</li>
			</ul>
		</span>				
<span id="all2">
	<ul>
		<li id="name"><input type="text" placeholder="小说名字"></li>
		<li id="section">
			<select name="" value="">
				<option value="">第一章</option>
						<option value="">第二章</option>
								<option value="">第三章</option>
										<option value="">第四章</option>
			</select>
			<span id="">
			章节名字
			</span>
			<span id="">
				作者名字
			</span>
			</li>
				<li id="content">
					<textarea rows="20" cols="40"></textarea>
				</li>
					<li id="button"><button type="button">上传作品</button><button type="button">保存作品</button></li>
	</ul>
</span>
<!-- 		第三部分 -->
		<div id="footer">
			<ul>
				<li><a href="#">重庆理工大学计算机科学与工程学院</a></li>
				<li><a href="#">本站所收录的作品、社区话题、用户评论、用户上传内容或图片等均属用户个人行为。如前述内容侵害您的权益，欢迎举报投诉，一经核实，立即删除，本站不承担任何责任</a></li>
			</ul>
		</div>
		
		<script>
		$('#button').click(function(){
			var username=$('#name').val();
			var password=$('#password').val();
			var password2=$('#password2').val();
			$.get('/user/login',{username:username,password:password},function(data){
			alert(data.msg);//判断用户的id是普通
		if(data.code==200){
			if()
		}						
			},'json')//登录用户
			})
		
		$('#search').click(function(){
			$('#search').value('');
		})
		</script>
	</body>
</html>
