
ont-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2qiqq5');
  src:  url('../fonts/icomoon.eot?2qiqq5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2qiqq5') format('truetype'),
    url('../fonts/icomoon.woff?2qiqq5') format('woff'),
    url('../fonts/icomoon.svg?2qiqq5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body{
	background: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
	background-size: 500%;
	animation: bjanimation 10s linear infinite;
}
@keyframes bjanimation{
	
0%{
	background-position: 0% 50%;
}
50%{
	background-position: 100% 50%;
}
100%{
	background-position: 0% 50%;
}
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	color: #eb3434;
}
.wel {
		width: 1340px;
		height: 60px;
	}/* //子元素有浮动需要为父元素添加高度 */
.wel button{
		border-radius: 7px;
		width: 80px;
		height: 30px;
		cursor:pointer;
	}
.wel input{
		padding: 12px;
		border-radius: 5px;
		opacity: 0.7;
	}
.one {
	display: inline;
	padding:13px;
	font-family:kai;
	font-size: 20px;
	position: relative;
	float: left;
	}
.twe{
		display:none;
		position: absolute;
	}
.twe li{
		width: 40px;
	}
.one:hover ul {
    display: block;
}
/* 第二部分 */
#l{
	float:right;
	margin-right: 30%;
	margin-top: 5%;
}
#c {
	height: 50%;
	margin-left: 20%;
	margin-top: 5%;
}
#c div{
margin-bottom: 2%;
}
#c button{
	width: 20%;
}
#c3 table{
	width: 60%;
	margin-left: 20%;
}
#c3 h2{
	text-align: center;
}
#c3{
	margin-top: 2%;
}

/* 第三部分 */
#footer li{
	font-size: small;
}
#footer{
text-align: center;
}
