body{
	background: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
	background-size: 500%;
	animation: bjanimation 10s linear infinite;
}
@keyframes bjanimation{
	
0%{
	background-position: 0% 50%;
}
50%{
	background-position: 100% 50%;
}
100%{
	background-position: 0% 50%;
}
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2qiqq5');
  src:  url('../fonts/icomoon.eot?2qiqq5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2qiqq5') format('truetype'),
    url('../fonts/icomoon.woff?2qiqq5') format('woff'),
    url('../fonts/icomoon.svg?2qiqq5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000000;
}
.wel {
	display: flex;
	height: 30%;	
	}/* //子元素有浮动需要为父元素添加高度 */
.one {
	display: inline;
	padding:20px;
	font-family:white;
	font-size: 20px;
	position: relative;
	float: left;
	}
.twe{
		display:none;
		position: absolute;
	}
.twe li{
		width: 40px;
		border-bottom: 1px solid #667163;
	}
.one:hover ul {
    display: block;
}
/* 第二部分 */
#c1 ul li{
	margin-bottom: 20px;
	margin-left: 40%;
}
#c1 ul li span{
	margin-right: 20px;
}
#c2{
	height: 50%;
	width:60%;
	margin-left: 20%;
}
#c3{
	position: fixed;
	top:50%;
	left: 10%;
}
#c3 ul li{
	margin-bottom: 50%;
}
#c4{
	position: fixed;
	top:50%;
	right:15%;
}
#c4 ul li{
	margin-bottom: 30%;
}
/* 第三部分 */
#footer li{
	font-size: small;
}
#footer{
text-align: center;
}