
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2qiqq5');
  src:  url('../fonts/icomoon.eot?2qiqq5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2qiqq5') format('truetype'),
    url('../fonts/icomoon.woff?2qiqq5') format('woff'),
    url('../fonts/icomoon.svg?2qiqq5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	color:#e74c3c;
}
.wel {
		height: 20%;	
	}/* //子元素有浮动需要为父元素添加高度 */
.one {
	display: inline;
	padding:20px;
	font-family:kai;
	font-size: 20px;
	position: relative;
	float: left;
	}
.twe{
		display:none;
		position: absolute;
	}
.twe li{
		width: 40px;
	}
.one:hover ul {
    display: block;
}
/*第二部分 */
 body{
	background: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
	background-size: 500%;
	animation: bjanimation 10s linear infinite;
}
@keyframes bjanimation{
	
0%{
	background-position: 0% 50%;
}
50%{
	background-position: 100% 50%;
}
100%{
	background-position: 0% 50%;
}
}
#check {
	margin-top: 7%;
	margin-left: 30%;
	border: #000000 1px solid;
	width: 40%;
}
#check ul li{
	margin-bottom: 4%;
	font-size: large;
}
#check button{	
width: 40%;
}
/* 第三部分 */
#footer li{
	font-size: small;
}
#footer{
text-align: center;
}