li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	color: #DB1C29;
}
input:focus{
	outline: none;
}
.reconmend img:hover{
		transform: scale(1.2,1.2);
}
body{
	background: linear-gradient(125deg,#72b576,#97f17b,#79b974,#8ce79f,#86f890);
	background-size: 100%;
	animation: bjanimation 10s linear infinite;
	font-size: kai;
	height: 150vh;
}
@keyframes bjanimation{
	
0%{
	background-position: 0% 50%;
}
50%{
	background-position: 100% 50%;
}
100%{
	background-position: 0% 50%;
}
}

@font-face {
	font-family:big;
	src: url('../font/世界那么大.ttf');
}
@font-face {
	font-family:kai;
	src: url('../font/宋刻本秀楷体.ttf');
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2qiqq5');
  src:  url('../fonts/icomoon.eot?2qiqq5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2qiqq5') format('truetype'),
    url('../fonts/icomoon.woff?2qiqq5') format('woff'),
    url('../fonts/icomoon.svg?2qiqq5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 第一部分 */
*{
	padding: 0;
	margin: 0;
}
.langguge {
	display: none;
	position: absolute;

}
.lang:hover ul{
	display: block;
}
.lang{
	position: relative;
}
.wel ul li{
display: inline-block;
}
#one{
	margin-left: 8%;
	margin-bottom: 1%;
	margin-top: 1%;	
}
.wel{
	border-bottom: 1px solid;
}
/* 第二部分 */
.nav button{
	width: 10%;
	border-radius: 5%;
	margin-left: 2%;
	cursor: pointer;
}
.nav input{
width: 30%;
margin-left: 30%;
height: 30%;
}
.nav{
	margin-top: 2%;
}
/* 第三部分 */
.choose{
	text-align: center;
	margin-top: 1%;
	
	}
	.choose ul li{
	margin-left: 8%;
	display:inline-block;
	}
/* 第四部分 */
.center{
	font-family:kai;
	font-size: large;
	height: 30%;
	margin-top: 2%;
}
.masterpiece{
	float: left;
	font-size: larger;	
	margin-left: 3%;
}
.masterpiece ul li{
	margin-bottom: 70%;
}
#banner{
	float: left;
	width: 80%;
	height: 100%;
	margin-left: 5%;
}
.imgList{
		position: relative;;
	}
.imgList li {
	  display: inline-block;
	  position: absolute;
 }
 .imgList li img{
	height: 350px;
	width: 900px;
 }
 .leftBtn{
	position: absolute;
	z-index:99;/*层级调高*/
	left: 20%;
	top:50%;
 }
   .rightBtn{
	position: absolute;
	right:20% ;
	top:50%;
	    z-index:99;/*层级调高*/
   }
   .leftBtn:hover,.rightBtn:hover{
     background-color:rgba(0, 0, 0, 0.2);
   }
   /* 小白点 */
   .focusList{
     right:550px;
	 position: absolute;
     z-index:999;/*层级调高*/
	 top: 400px;

   }
   .focusList a{/* 小白点 */
     float: left;
     width:15px;
     height: 15px;
     border-radius: 50%;
     margin-left:15px;
     background: rgba(0, 0, 0, .4);
   }
   .focusList a.cur{
     background: rgba(255, 255, 255, .6);
   }
/* 第五部分 */
.reconmend{
	font-family:kai;
	font-size: larger;
	margin-left: 5%;
	margin-top: 10%;
	border-top: 1px solid black;
	margin-right: 5%;
	height: 70%;
}
.week{
float: left;	
width: 27%;
margin-left: 5%;
}
.week li{
margin-top: 3%;	
}
#share{
	height: 30%;
	font-family: kai;
	border-top: 1% solid;
	margin-left: 5%;
	margin-right: 5%;
	border-top: 1px solid black;
}
#share img{
	float: right;
	height: 150px;
	margin-right: 20%;
}
#share img:hover{
transform: scale(1.2,1.2);	
}
#share span{
	float: left;
	margin-left: 20%;
}
#share h1{
	font-family: kai;
}
#hotbook {
	font-family: kai;
	margin-left: 5%;
	margin-right: 5%;
	border-top: 1px solid;
}
#hotbook h1{
	margin-bottom: 30px;
}
#hotbook img{
	margin-left: 80px;
	margin-bottom: 20px;
}
#hotbook img:hover	
{transform: scale(1.2,1.2);
	}
	
#book img{
	width: 180px;
	height:220px;
	
}
#reconmend img{
	width: 180px;
	height:180px;
}	
#readingfeel{
		font-family: kai;
		margin-left: 20vh;
		margin-right: 20vh;
		border-top: 1px solid;
		height: 30vh;
		border-bottom:1px solid ;
	}
/* 第六部分 */
#footer li{
	font-size: small;
}
#footer{
text-align: center;
margin-top: 2vh;

}